# Created by .ignore support plugin (hsz.mobi)
skin_train.tfrecords
images/
.gitignore
.idea/inspectionProfiles/
.idea/modules.xml
.idea/tensorflow_image_dispose.iml
.idea/workspace.xml
images.zip
fixdata
